.shop {
  &__catalog {
    &__btn {
      //   position: absolute;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   bottom: 0;
      display: block; //временно
      border: none;
      background: rgba(220, 220, 220, 0.44);
      height: 34px;
      width: 34px;
      &:hover {
        border: 1px black solid;
      }
      > svg {
        fill: none;
        stroke: #0c0c0c;
      }
    }
  }
}
