.collection__left__link {
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 20px 0 27px;
  width: 265px;
  height: 40px;
  background: rgba(217, 217, 217, 0.4);
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  &:hover {
    border: 2px black solid;
    background: rgba(160, 158, 158, 0.4);
  }
  &__small {
    gap: 30px;
    padding: 0 16px 0 20px;
    width: 169px;
    font-size: 14px;
  }
  svg {
    fill: none;
    stroke: #0c0c0c;
  }
}
