.info {
  position: relative;
  border: 1px solid #d9d9d9;
  padding: 66px 39px 25px 37px;
  width: 306px;
}

.desc {
  .title {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 21px;
  }
  .price {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 53px;
  }
  .subtitle {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 55px;
  }
}
.colorBlock,
.sizeBlock {
  margin-bottom: 20px;
  p {
    font-size: 12px;
    font-weight: 250;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
}
.colorList {
  display: flex;
  gap: 5px;

  li {
    list-style: none;
  }
}

.colorTag {
  width: 38px;
  height: 38px;
  border: 1px solid #a3a3a3;
  padding: 0;
  margin: 0;
  background-clip: padding-box;
  position: relative;
  cursor: pointer;

  &:hover {
    border-color: #000;
  }

  .checkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
  }
}

.selected {
  border-color: #000;
}

.addBtn {
  display: block;
  width: 229px;
  height: 40px;
  background: #d9d9d9;
  border: none;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}
