@import '../css/stylesheet.css';
@import 'components/button';
@import 'components/input';
@import 'components/card';
@import 'components/dropdown';
@import 'components/navbar';
@import '../scss/product.scss';
@import '../scss/product_card.scss';
@import '../scss/cart.scss';
@import '../scss/checkout.scss';

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  // max-width: 100%;
}

button {
  cursor: pointer;
}

svg {
  fill: currentColor;
}

body {
  font-family: 'Beatrice Deck Trial';
  background: url(../img/bg.jpg);
  color: #000000;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  // position: fixed;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  // z-index: 9999;
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  padding-top: 50px;
  &__btns {
    display: flex;
    gap: 45px;
    width: 260px;
  }
  &__btn {
    color: #fff;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:nth-child(2) {
      border-radius: 22px;
      width: 76px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 2px;
    }
    > a > svg {
      fill: none;
      stroke: currentColor;
    }
  }
}

.menu {
  &__list {
    display: flex;
    gap: 32px;
  }
  &__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
}

.gender {
  // margin-top: 100px;
  min-height: 135px;
  padding: 57px 0 100px 0;
  &__filters {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
  }
  &__btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Beatrice Deck Trial';
  }
}

.search {
  position: relative;
  &__input {
    padding: 0 30px 0 40px;
    border: none;
    width: 367px;
    height: 50px;
    border-radius: 2px;
    background: rgba(217, 217, 217, 0.4);
    text-align: left;
    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2px;
      text-align: right;
    }
  }
  &__btn {
    position: absolute;
    background: none;
    border: none;
    left: 10px;
    top: 25px;
    transform: translateY(-50%);
    > svg {
      fill: none;
      stroke: currentColor;
    }
  }
}

.week {
  &__wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__link {
    align-self: flex-end;
    border: none;
    background: none;
    color: #5e5e5e;
    font-size: 14px;
    font-family: Beatrice Trial;
    font-weight: 400;
  }
  &__arrow {
    display: flex;
    gap: 13px;
    justify-content: center;
    &__left {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      > svg {
        fill: none;
        stroke: #0c0c0c;
        opacity: 0.66;
      }
    }
    &__right {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      > svg {
        fill: none;
        stroke: #0c0c0c;
      }
    }
  }
  &__products {
    display: flex;
    gap: 26px;
    margin-bottom: 36px;
  }
}

.t_shirt {
  &__img {
    position: relative;
    margin-bottom: 12px;
  }
  &__choise {
    position: relative;
    margin-bottom: 10px;
  }
  &__btn {
    position: absolute;
    border: none;
    background: rgba(220, 220, 220, 0.44);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 34px;
    width: 34px;
    > svg {
      position: absolute;
      top: 10px;
      left: 10px;
      fill: none;
      stroke: #0c0c0c;
    }
  }
  &__tag {
    color: rgba(0, 0, 0, 0.66);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }
}

.collection {
  padding: 75px 0px 55px 0px;
  &__container {
    padding-bottom: 150px;
    display: flex;
    gap: 10px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: 48px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 40px;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    &__subtitle {
      line-height: 20px;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 2px;
    }
    &__btns {
      display: flex;
      flex-direction: row;
      width: 397px;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 80px;
      padding: 0 20px 0 27px;
      margin-right: 40px;
      width: 265px;
      height: 40px;
      border-radius: 2px;
      background: rgba(217, 217, 217, 0.4);
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      > svg {
        fill: none;
        stroke: #0c0c0c;
      }
    }
    &__arrows {
      display: flex;
      gap: 12px;
    }
    &__arrow {
      &__left {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
          fill: none;
          stroke: #0c0c0c;
          opacity: 0.66;
        }
      }
      &__right {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
          fill: none;
          stroke: #0c0c0c;
        }
      }
    }
  }

  &__right {
    &__img {
      display: flex;
      gap: 40px;
      align-items: flex-end;
    }
  }
}

.collections_2324 {
  padding: 55px 0px 70px 0;
  &__title {
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 2px;
    padding-bottom: 50px;
  }
  &__gender {
    &__text {
      border: none;
      background: none;
    }
    display: flex;
    gap: 40px;
    color: #8a8a8a;
    font-size: 16px;
    font-family: Beatrice Headline Trial;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    padding-bottom: 13px;
  }
  &__strip {
    width: 1160px;
    height: 0px;
    outline: 1px #dfdfdf solid;
    outline-offset: -0.5px;
  }
  &__products {
    margin: 40px 0 35px 0;
    display: flex;
    gap: 40px;
  }
  &__product {
    &__choise {
      position: relative;
      margin-bottom: 10px;
    }
    &__btn {
      position: absolute;
      border: none;
      background: rgba(220, 220, 220, 0.44);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 11px;
      > svg {
        fill: none;
        stroke: #0c0c0c;
      }
    }
    &__tags {
      color: rgba(0, 0, 0, 0.66);
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__links {
    display: flex;
    justify-content: end;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 10px 0 15px;
    margin-right: 40px;
    width: 150px;
    height: 40px;
    border-radius: 2px;
    background: rgba(217, 217, 217, 0.4);
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    > svg {
      fill: none;
      stroke: #0c0c0c;
    }
  }
}

.design {
  padding: 70px 0 147px 0;
  &__title {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  &__subtitles {
    display: flex;
    text-align: center;
    justify-content: center;
    &__text {
      width: 680px;
      color: black;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 108px;
    }
  }
  &__galery {
    display: flex;
    gap: 35px;
    :nth-child(even) {
      margin-top: 73px;
    }
  }
}

.footer {
  padding: 125px 0 125px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.03));
  // height: 703px;
  // background: url(/img/bg_2.jpg) ;
  &__container {
    display: flex;
    gap: 380px;
  }
  &__left {
    &__list {
      &__info {
        margin-bottom: 63px;
      }
    }
    &__info {
      margin-bottom: 23px;
      opacity: 0.4;
      color: black;
      font-size: 10px;
      font-family: Inter;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 14px;
      &__link {
        opacity: 0.6;
        color: black;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    &__languages {
      margin-bottom: 23px;
      opacity: 0.4;
      color: black;
      font-size: 10px;
      font-family: Inter;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 14px;
    }
    &__btn {
      height: 17px;
      &__text {
        opacity: 0.6;
        color: black;
        font-size: 12px;
        font-family: Inter;
        font-weight: 500;
        text-transform: uppercase;
        border: none;
      }
    }
  }
  &__right {
    &__wrapper {
      position: relative;
    }
    &__technologies {
      opacity: 0.4;
      color: #1e1e1e;
      font-size: 10px;
      font-family: Inter;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 13px;
      margin-bottom: 35px;
    }
    &__logo {
      font-size: 80px;
      font-family: Inter;
      font-weight: 900;
      line-height: 65px;
      &:nth-of-type(1) {
        color: #ececec;
      }
    }
    &__logo_icon {
      position: absolute;
      top: 10px;
    }
  }
}
