.review {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #b3b3b3;
  padding: 20px;
  opacity: 0.75;
  margin-bottom: 24px;
  max-width: 800px;
  width: 100%;
}
.photo {
  width: 60px;
  height: 60px;
  background: #696969 center/cover no-repeat;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}
.topBlock {
  display: flex;
}

.name {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.comment {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: #696969;
  margin: 8px 0;
}
.time {
  display: block;
  margin-top: 20px;
  font-size: 10px;
  font-weight: 500;
}
.ratingWrapper {
  margin-left: auto;
}
