* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  scrollbar-gutter: auto;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

svg {
  fill: currentColor;
}

body {
  font-family: 'Beatrice Deck';
  background: url(/assets/bg.jpg);
  color: #000000;
}

ul {
  list-style-type: none;
}

main {
  padding: 0 50px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Thin */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Thin Italic */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Regular Italic */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Semibold Italic */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'Beatrice Deck';
  src: url('/fonts/BeatriceDeck-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
