a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

svg {
  fill: currentColor;
}

body {
  font-family: 'Beatrice Deck Trial';
  background: url(../img/bg.jpg);
  color: #000000;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
