* {
  padding: 0;
  margin: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

input,
button {
  font-family: inherit;
}

svg {
  fill: currentColor;
}

body {
  font-family: 'Beatrice Deck';
  background: url(bg.jpg);
  color: #000000;
}
ul {
  list-style-type: none;
}
