.wrapper {
  max-width: 562px;
  padding: 0 12px;
  overflow: hidden;
}

.category {
  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 24px);
    grid-auto-columns: 100px;
    gap: 2px 15px;
    padding-bottom: 2px;
    overflow-x: scroll;
    overflow-y: hidden;
    list-style: none;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      height: 8px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }

    &:hover {
      scrollbar-color: rgba(0, 0, 0, 0.4) transparent;

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__item {
    scroll-snap-align: start;
  }

  &__btn {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #a3a3a3;
    color: #5e5e5e;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;

    &:hover {
      border-color: #888;
      color: #333;
    }

    &:focus {
      outline: none;
      border-color: #666;
    }
  }
}
.active {
  background-color: #d9d9d9;
  border: 1px solid #000;
  color: #000;
}
